[updater]

RealmID = 0

# Path to sql files (sql/our)
SqlPath = ""

LoginDatabaseInfo     = "127.0.0.1;3306;user;pass;database"
WorldDatabaseInfo     = "127.0.0.1;3306;user;pass;database"
CharacterDatabaseInfo = "127.0.0.1;3306;user;pass;database"
#ArchiveDatabaseInfo   = "127.0.0.1;3306;user;pass;database"

LogsDir = "./"
Log.Main.File = "detail.log"
Log.Main.Mode = "w"
Log.Main.Timestamp = 1
